<!-- app/views/blah/_registration.html.erb -->

<h3> Sign up now! </h3>

<form>
  <div>
    <label for="registration_username">Username</label>
    <input type="text" name="registration[username]" id="registration_username">
  </div>

  <div>
    <label for="registration_password">Password</label>
    <input type="password" name="registration[password]" id="registration_password">
  </div>

  <div>
    <label for="registration_password_confirmation">Password Confirmation</label>
    <input type="password" name="registration[password_confirmation]" id="registration_password_confirmation">
  </div>
</form>
