<h2> List of contacts </h2>

<ul>
  <% @contacts.each do |one_contact| %>
    <li>
      <%= one_contact.name %>
      - <%= one_contact.email %>


      <% if one_contact.favorite %>
        ⭐️
      <% else %>
        <form action="/favorites" method="post">
          <input type="hidden" name="contact_id"
              value="<%= one_contact.id %>">

          <input type="hidden" name="authenticity_token"
              value="<%= form_authenticity_token %>">

          <button type="submit">
            Favorite
          </button>
        </form>
      <% end %>
    </li>
  <% end %>
</ul>
